.articulo{
     margin-top: 50px;
     margin-left: auto;
     margin-right: auto;
     width: 900px;
     text-align: justify
	 
  }
  
  .atr {
     margin-top: 100px;
     margin-left: auto;
     margin-right: auto;
     width: 900px;
     text-align: justify
  }
  #titulo{
	  background: #d7f7e5; 
	  color: #1e422e; 
	  font-weight: bold; 
	  padding: 70px; 
	  border: 
	  7px solid #1e422e; 
	  border-radius: 100px;
	  font-size: 60px;
      text-align: center
	  
	  }
.contenedor {
     margin-left: auto;
     margin-right: auto;
     width: 100%;
	 height:fit-content
       
}
.cajas{
       float: left;
       width: 400px;
       height: fit-content;
       margin: 3px;
       
}
.contenedoor{
    position: relative;
    display: inline-block;
    text-align: center;
}
.texto-encima{
    position: absolute;
    top: 200px;
    left: 450px;
}
.centrado{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
	
}
.encima{
    position: absolute;
    top: 550px;
    left: 500;
	}
	
.En{
    position: absolute;
    top: 350px;
    left: 520px;
}
	
	.mail{
    position: absolute;
    top: 550px;
    left: 450px;
}
.Portada{
    position: absolute;
    top: 500px;
    left: 900px;
}
.btg{
	 background: #d7f7e5; 
	  color: #101a18; 
	  display:inline-block;
	  font-size: 1.0em; 
	  margin:10px;
	  padding: 0px 35px; 
	   border: 
	  1px solid #d7f7e5;
	  border-radius: 55px;
	  width:200px;
	  
      text-align:center;
	  cursor:pointer;
	}
 .btg:hover {
	 background:#ffffff; 
	  color: #101a18; 
 }
	.btg1{
	 background: #d7f7e5; 
	  color: #101a18; 
	  display:inline-block;
	  font-size: 15px; 
	  margin:1px;
	  padding: 0px 8px; 
	   border: 
	  1px solid #d7f7e5;
	  border-radius: 30px;
	  width:200px;
	  
      text-align:center;
	  cursor:pointer;
	}
 .btg1:hover {
	 background:#ffffff; 
	  color: #101a18; 
 }
 .cajas1{
       float: left;
       width: 300px;
       height: fit-content;
       margin: 10px;
 }
 .cajas2{
       float: left;
       width: 550px;
       height: fit-content;
       margin: 15px;
       
}
.btg3{
	 background: #d7f7e5; 
	  color: #101a18; 
	  display:inline-block;
	  font-size: 1em; 
	  margin:1px;
	  padding: 0px 3px; 
	   border: 
	  1px solid #d7f7e5;
	  border-radius: 40px;
	  width:130px;
	  
      text-align:center;
	  cursor:pointer;
	}
 .btg3:hover {
	 background:#ffffff; 
	  color: #101a18; 
 }
 .Portada1{
    position: absolute;
    top: 550px;
    left: 1000px;
}